.vscode/settings.json

*.so
*.vtk
*.o
*Tutorial_benchmark_1/
*Tutorial_benchmark_1_with_2_interfaces/
*Tutorial_benchmark_1_with_2_interfaces_MPI/
*Tutorial_benchmark_1_with_MPI/

*KratosOpenfoamAdapterFunctionObject/lnInclude/
*KratosOpenfoamAdapterFunctionObject/Make/

*Tutorial_benchmark_2_CAARC/constant/polyMesh
*Tutorial_benchmark_2_CAARC/__pycache__
*Tutorial_benchmark_2_CAARC/output_csd/
*Tutorial_benchmark_2_CAARC/postProcessing/
*Tutorial_benchmark_2_CAARC/restart/
*Tutorial_benchmark_2_CAARC/vtk_output_coupling
*Tutorial_benchmark_2_CAARC/.CoSimIOComm_Openfoam_Adapter_Openfoam_Kratos_Wrapper
*Tutorial_benchmark_2_CAARC/hdf5_output
*Tutorial_benchmark_2_CAARC/

*Tutorial_benchmark_2_CAARC_with_MPI/constant/polyMesh
*Tutorial_benchmark_2_CAARC_with_MPI/__pycache__
*Tutorial_benchmark_2_CAARC_with_MPI/output_csd/
*Tutorial_benchmark_2_CAARC_with_MPI/postProcessing/
*Tutorial_benchmark_2_CAARC_with_MPI/restart/
*Tutorial_benchmark_2_CAARC_with_MPI/vtk_output_coupling
*Tutorial_benchmark_2_CAARC_with_MPI/.CoSimIOComm_Openfoam_Adapter_Openfoam_Kratos_Wrapper
*Tutorial_benchmark_2_CAARC_with_MPI/hdf5_output
*Tutorial_benchmark_2_CAARC_with_MPI/
